<h2>{{model.title}}</h2>
{{#each model.logEntries as |logEntry|}}
  {{render "clients.projects.tasks.log_entry" logEntry}}
{{/each}}
{{input placeholder="Duration" value=newLogEntryDuration}}
{{input placeholder="Start date" value=newLogEntryDate}}
<button {{action "addLogEntry" newLogEntryDuration newLogEntryDate model}} class="add btn btn-primary">Add</button>
{{outlet}}
